@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "partials/globals";
@import "partials/forms";
//@import "partials/home-carousel";
@import "partials/home-top-section";
@import "partials/docs";
@import "partials/docs_code";
@import "partials/docs_cli";
@import "partials/toastr";
@import "partials/error_container";
@import "partials/modal-messages";
@import "partials/nav";
@import "partials/carousel-animated";

@import url(https://fonts.googleapis.com/css?family=Bad+Script);


$dropdown-divider-bg: #181c35 !important;

body {
  background-color: white;
  margin-top: 85px;
}

h2{
  margin: 0;
  color: #666;
  padding-top: 90px;
  font-size: 52px;
  font-family: "trebuchet ms", sans-serif;
}

#top-of-page HEADER{
  display: block;
  //margin-top: 50px;
  margin-bottom: 0;
  padding-left: 25px;
  padding-top: 6px;
  font-family: 'Bad Script', cursive;
  font-size: 16px;
  background-color: #314497;
  height: 35px;
  color: #b0ba6c;
}

#unique-content {

}

#unique-content article header {

}

.centered-image {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.centered-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

pre{
  padding-top: 30px;
  background-color: #2c2c2c;
  color: #9ECADF;
}

